<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.dao.MiniHomeBoardDao">


	<!-- 게시글 번호 찾기-->
	<select id="seq" resultType="int">
		select seq_free.nextval from dual
	</select>
	
	
</mapper>
















