<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.dao.MainNoticeDao">

<!-- 공지게시판 전체 글 개수 출력 -->
	<select id="mainNoticeCnt"  resultType="int">
			select count(*)	 from main_notice_board
	</select>
		
	<!--공지게시판 리스트목록 얻어 오기(페이징) -->
	<select id="mainNoticeBoardList" parameterType="hashmap" resultType="MainNoticeBoard">
	<![CDATA[
		 select * from  
			(select rownum rnum, b1.* from
				(select main_notice_article_no, main_notice_article_title,main_notice_article_content,main_notice_article_date,main_notice_article_hits from main_notice_board order by main_notice_article_no desc) b1
			where rownum <=#{end}) b2
		where rnum>=#{start}
		]]>
	</select>
	<!--공지게시판 생성하기-->
	<insert id="mainNoticeBoardInsert" parameterType="MainNoticeBoard">
		<selectKey keyProperty="mainNoticeArticleNo" resultType="int" order="BEFORE">
	    	select main_notice_board_seq.nextval from dual
	  	</selectKey>
		insert into main_notice_board 
		values(#{mainNoticeArticleNo},#{mainNoticeArticleTitle},#{mainNoticeArticleContent},sysdate,0)
	</insert>
	
	<!--공지게시판 상세보기 -->
	<select id="mainNoticeBoardView" parameterType="int" resultType="MainNoticeBoard">
	select main_notice_article_no,main_notice_article_title,main_notice_article_content,main_notice_article_date,main_notice_article_hits from main_notice_board  where main_notice_article_no=#{mainNoticeArticleNo}
	</select>
 	
 	<!--공지게시판 삭제 -->
	<delete id="mainNoticeBoardDelete" parameterType="int">
	delete from main_notice_board where main_notice_article_no=#{mainNoticeArticleNo}
	</delete>
	<!--공지게시판 수정하기-->
	<update id="mainNoticeBoardUpdate" parameterType="MainNoticeBoard">
		update main_notice_board set 
		main_notice_article_title=#{mainNoticeArticleTitle}
		,main_notice_article_name=#{mainNoticeArticleName}
		,main_notice_article_content=#{mainNoticeArticleContent}
		 where main_notice_article_no=#{mainNoticeArticleNo}
	</update>	
	
	
</mapper>