<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.dao.MainFunctionDao">
	
	<!--검색창에 검색해서 상품보기-->
 	<select id="mainSearchItem" parameterType="hashmap" resultType="Mainitem">
 		<![CDATA[
 			select * from  
			(select rownum rnum, b1.* from
			(select  i.item_no, i.item_name, i.item_content, i.item_price ,i.item_size,i.item_inven, 
 			i.item_date,m.img_name
	        from item i,item_img m 
	         where m.img_no in(select min(img_no) from item_img group by item_no) and
	     	i.item_no= m.item_no and i.item_name=#{itemName})
	         b1 where rownum <=#{end}) b2
			where rnum>=#{start}
			
 		]]>
 	</select>

	  
			
	<!--베스트 상품 갖고오기(상품평가 평균)-->
 	<select id="mainBestItem"  parameterType="hashmap" resultType="MainBestItem">
	<![CDATA[
		select * from
		(select rownum rnum,b.* from
		(select i.item_no ,i.item_name ,m.img_name ,count(*) reviewCnt,avg(r.review_score) reviewAvgScore
		from item i,item_review r,item_img m 
		where m.img_no in(select min(img_no) from item_img group by item_no) and i.item_no=r.item_no(+) and i.item_no=m.item_no
		group by i.item_no,i.item_name,m.img_name 
		order by avg(r.review_score) desc)b where rownum <=#{end}) b2
			where rnum>=#{start}
 	]]>
 	</select>
	<!-- 메인 마감임박 상품 갖고오기(남은 재고 순으로) -->
 	<select id="mainClosingItem"  parameterType="hashmap" resultType="MainItem">
	<![CDATA[
		  select * from
		(select rownum rnum,b.* from  
		(select  i.item_no, i.item_name, i.item_content, i.item_price ,i.item_size,i.item_inven, i.item_date,m.img_name
		from item i,item_img m 
	    where m.img_no in(select min(img_no) from item_img group by item_no) and i.item_no=m.item_no
	    order by i.item_inven  asc)b where rownum <=#{end}) b2
			where rnum>=#{start}
 	]]>
 	</select>

<!--최신개설 홈페이지 갖고오기 -->
 	<select id="mainNewMinihome"  parameterType="hashmap" resultType="MainMiniHomePage">
	<![CDATA[
		select * from
		(select rownum rnum,b.* from
		(select user_id,home_title ,home_img, home_hits,home_introduce, home_open from home
		order by home_open desc)b where rownum <=#{end}) b2
			where rnum>=#{start}
 	]]>
 	</select>


<!-- 개인 홈페이지(아이디로) 검색 -->
	<select id="mainUserIdSearch" parameterType="hashmap" resultType="MainMiniHomePage">
		
		<![CDATA[
			select * from  
			(select rownum rnum, b1.* from
			(select  user_id,home_title ,home_img, home_hits,home_introduce, home_open
			from home
	        where user_id=#{userId} order by home_open desc)b1 where rownum <=#{end}) b2
			where rnum>=#{start}
 		]]>
		
	</select>

	<!-- 개인 홈페이지(제목으로) 검색 -->
	<select id="mainUserTitleSearch" parameterType="hashmap" resultType="MainMiniHomePage">
		
		<![CDATA[
			select * from  
			(select rownum rnum, b1.* from
			(select  user_id,home_title ,home_img, home_hits,home_introduce, home_open
 			from home where home_title=#{homeTitle} order by home_open desc)
	         b1 where rownum <=#{end}) b2
			where rnum>=#{start}
 		]]>
	</select>
	<!--인기 홈페이지 리스트 -->
	<select id="mainRankingHome" parameterType="hashmap" resultType="MainMiniHomePage">
	<![CDATA[
		  select * from  
			(select rownum rnum, b1.* from
			(select  user_id,home_title ,home_img, home_hits,home_introduce, home_open
	        from home order by home_hits desc) b1 where rownum <=#{end}) b2
			where rnum>=#{start}
		]]>
	</select>
 
 	<!-- 카테고리별상품조회(리스트) -->
 	<select id="mainCategoryList" parameterType="hashmap" resultType="MainCategoryList">
	<![CDATA[
		select * from
		(select rownum rnum,b.* from 
		(select i.item_no,i.item_name,i.item_content,i.item_price,i.item_size,i.item_inven,i.item_date,i.user_id,m.img_name  
	    from item i,item_img m where m.img_no in(select min(img_no) from item_img group by item_no) and
		i.item_no=m.item_no and i.small_kind=#{smallKind})b
		where rownum<=#{end}) where rnum>=#{start}
	]]>
	</select>







</mapper>