<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.dao.MainServiceCenter">
	
	<!-- 고객센터 게시판 전체 글 개수 출력 -->
	<select id="mainServiceCenterCount"  resultType="int">
			select count(*)	from service_center
	</select>
 	
 	<!--고객센터 게시판 리스트목록 얻어 오기(페이징) -->
	<select id="mainServiceCenterList" parameterType="hashmap" resultType="CustomerCenter">
	<![CDATA[
		 select * from  
			(select rownum rnum, b1.* from
				(select faq_no, faq_title,faq_content,faq_date from service_center order by faq_no desc) b1
			where rownum <=#{end}) b2
		where rnum>=#{start}
		]]>
	</select>
	<!--고객센터 게시판 생성하기-->
	<insert id="mainServiceCenterInsert" parameterType="CustomerCenter">
		<selectKey keyProperty="faqNo" resultType="int" order="BEFORE">
	    	select service_center_seq.nextval from dual
	  	</selectKey>
		insert into service_center values(#{faqNo},#{faqTitle},#{faqContent},sysdate)
	</insert>
	
	<!--고객센터 게시판 상세보기 -->
	<select id="mainServiceCenterView" parameterType="int" resultType="CustomerCenter">
	select * from service_center where faq_no=#{faqNo}
	</select>
 	
 	<!--고객센터 게시판 삭제 -->
	<delete id="mainServiceCenterDelete" parameterType="int">
	delete from service_center where faq_no=#{faqNo}
	</delete>
	
	<!--고객센터 게시판 수정하기-->
	<update id="mainServiceCenterUpdate" parameterType="CustomerCenter">
		update service_center set 
		 faq_title=#{faqTitle},faq_content=#{faqContent}
		 where faq_no=#{faqNo}
	</update>

</mapper>