<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.dao.RevenueDao">
	<!-- 홈페이지 개설회원 조회 -->
   <select id="findPageUser" parameterType="String" resultType="Users">
   <![CDATA[
      select user_id, user_name, user_ishome from users where user_ishome='1'
   ]]>
   </select>
   <!-- 전체회원목록조회 -->
   <select id="totalUser" resultType="HashMap">
   <![CDATA[
      select user_id, user_name from users
   ]]>
   </select>

   <!-- 회원상세조회 -->
   <select id="userDetail" parameterType="String" resultType="HashMap">
   <![CDATA[
      select user_id, user_name, user_address, user_post, user_mail, user_phone, user_point, user_ishome from users where user_id=#{userId}
   ]]>
   </select>

   <!-- 회원삭제 -->
   <delete id="userDelete" parameterType="String">
   <![CDATA[   
      delete from users where user_id=#{userId}
   ]]>
   </delete>
   
   <!-- 회원정보수정 -->
   <update id="userUpdate" parameterType="Users">
   <![CDATA[
        update users set user_id=#{userId}, user_pwd=#{userPwd}, user_name=#{userName}, user_address=#{userAddress}, user_post=#{userPost}, 
        user_mail=#{userMail}, user_phone=#{userPhone}, user_ishome=#{userIshome}, user_grade=#{userGrade} where user_id=#{userId} 
     ]]>
   </update>
   
   <!-- 홈페이지 삭제 -->
   <delete id="userPageDelete" parameterType="String">
   <![CDATA[
      delete from home where user_id=#{userId}
   ]]>
   </delete>
   
   <!-- 기간별 매출보기 -->
   <select id="selectRevenueListByDate" parameterType="hashmap" resultType="OrderList">
   	<![CDATA[
      select * from  
				(select rownum rnum,a.* from 
					(select o.order_no orderNo,o.order_size orderSize,o.order_state orderState,o.order_date orderDate,
					o.order_price orderPrice,i.item_name itemName,i.user_id userId, o.option_name optionName,o.item_no itemNo
					 from order_statement o,users u,item i 
					 where o.item_no=i.item_no and o.user_id=u.user_id and order_state='주문완료' and o.ORDER_DATE>=#{startDate} and o.order_date<=#{endDate} order by o.order_date desc) a 
      			where rownum<=#{end})
 			where rnum>=#{start};
   ]]>
   </select>
   <!-- 기간별 매출 개수 -->
   <select id="selectRevenueListByDateCnt" parameterType="hashmap" resultType="int">
   
   </select>
   
   
   
   <!-- 일별매출보기 -->
   <select id="userDayRevenue" parameterType="hashmap" resultType="OrderList">
   <![CDATA[
      select to_char(to_date(order_date,'yyyy-mm-dd'),'dd') as order_date, sum(order_price) as order_price 
      from order_statement group by to_char(to_date(order_date,'yyyy-mm-dd'),'dd') order by order_date desc
   ]]>
   </select>

   <!-- 달별매출보기 -->
     <select id="userMonthRevenue" parameterType="hashmap" resultType="OrderList">
     <![CDATA[
        select to_char(to_date(order_date,'yyyy-mm-dd'),'mm') as order_date , sum(order_price) as order_price 
        from order_statement group by to_char(to_date(order_date,'yyyy-mm-dd'),'mm') order by order_date desc
     ]]>
     </select>
     
   <!-- 연간매출보기 -->
    <select id="userYearRevenue" parameterType="hashmap" resultType="OrderList">
    <![CDATA[
       select to_char(to_date(order_date,'yyyy-mm-dd'),'yyyy') as order_date , sum(order_price) as order_price 
      from order_statement group by to_char(to_date(order_date,'yyyy-mm-dd'),'yyyy') order by order_date desc
    ]]>
    </select>
     
    <!-- 회원별 매출보기, 합계보기 -->
     <select id="userAndTotalRevenue" parameterType="hashmap" resultType="OrderList">
     <![CDATA[
        select user_id, sum(order_price) from order_statement group by rollup(user_id)
     ]]>
     </select>
     
   <!-- 전체매출보기 -->
     <select id="userTotalRevenue" parameterType="hashmap" resultType="OrderList">
     <![CDATA[
        select sum(order_price) from order_statement 
     ]]>
     </select>
	
</mapper>